<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand d-lg-none" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbar1">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">スクール系の記事</a>
      <a class="nav-item nav-link" href="#">Tech系の記事</a>
      <a class="nav-item nav-link" href="#">おまけコンテンツ</a>
    </div>
  </div>
</nav>